/* .text-form{
     margin-top: 50px;
     border: 2px solid rgb(112, 83, 83);
     border-radius: 20px;
     
} */

.text-area {
    border: 2px solid rgb(169, 99, 99);
    border-radius: 10px;
}

.text {
    text-align: justify;
    color: white;
}

